<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github</id>
      <username>fprobst</username>
      <password>{5SbGSb3Q1ZwH8mYAAAy+hQ1wWyy9iyns+7MUHgt3K4xJYWHQsa9bYs97e+AU2Vn/cDZFOIqRIzHydYQn7VwcBg==}</password>
    </server>
  </servers>
</settings>