<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" th:href="@{/favicon.ico}">
<link rel="icon" type="image/png" th:href="@{/favicon.png}"
  sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180"
  th:href="@{/apple-touch-icon.png}">
<script src="https://kit.fontawesome.com/f543fe88cb.js"
  crossorigin="anonymous"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Overview</title>
</head>
<body style="margin: 0; padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding: 15px 0 15px 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
          width="750" style="border: 1px solid #252839">
          <tr>
            <td align="center" bgcolor="#2E4600">
              <p th:text="#{header}"
                style="display: block; color: #FFFFFF; font: small-caps bold 32pt sans-serif;">headerText</p>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="#486B00">
              <p
                style="display: block; color: #FFFFFF; font: small-caps bold 16pt sans-serif;">
                <span th:text="#{subheader.from}">from</span> <span
                  th:text="${#dates.format(beginDate, 'dd MMMM yyyy')}">28-12-2012</span>
                <span th:text="#{subheader.to}">to</span> <span
                  th:text="${#dates.format(endDate, 'dd MMMM yyyy')}">28-12-2012</span>
              </p>
            </td>
          </tr>
          <tr th:each="city : ${cities}">
            <td bgcolor="#ffffff" style="padding: 10px 10px 25px 10px;">
              <table border="0" cellpadding="0" cellspacing="0"
                width="100%"
                style="font-family: sans-serif; font-size: 10pt">
                <tr>
                  <td colspan="4" th:text="${city.name}"
                    style="padding: 0 0 5px 0; font: small-caps bold 14pt sans-serif; color: #7D4427">Landshut</td>
                </tr>
                <tr style="font-size: 11pt; color: #486B00">
                  <th width="110px" align="left"
                    th:text="#{header.date}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Datum</th>
                  <th width="150px" align="left"
                    th:text="#{header.shop}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Geschäft</th>
                  <th align="left" th:text="#{header.message}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Beschreibung</th>
                  <th width="24px" align="right"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    &nbsp;</th>
                  <th width="80px" align="right"
                    th:text="#{header.amount}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Betrag</th>
                </tr>
                <tr th:each="expense : ${city.expenses}">
                  <td align="left" style="padding: 2px 0 2px 0"
                    th:text="${#dates.format(expense.timestamp, 'EE, dd.MM. HH:mm')}">Sa,
                    21.03. 17:58</td>
                  <td th:text="${expense.shop}">Betz</td>
                  <td><a href="" th:href="@{/edit/{id}(id=${expense.id})}" style="text-decoration: none;"
                    th:text="${city.getDisplayedMessage(expense)}">Heute
                      habe ich mal so richtig viel eingekauft, damit die
                      Zelle auch mal so richtig voll wird und über zwei
                      Zeilen geht!></a><span
                    style="font-weight: bold; color: #7D4427;"
                    th:text="${city.getBudgetInfo(expense)}"></span></td>
                  <td><span th:if="${expense.cash}"
                    style="font-size: 22px; color: #677077;"><i
                      class="fas fa-coins"></i></span><span
                    th:unless="${expense.cash}"
                    style="font-size: 22px; color: #677077;"><i
                      class="far fa-credit-card"></i> </span></td>
                  <td style="font-family: monospace" align="right"
                    th:text="|${#numbers.formatDecimal(expense.amountDouble, 1, 'POINT', 2, 'COMMA')} ${currency}|">9999,99
                    €</td>
                </tr>
                <tr>
                  <td colspan="4" th:text="#{total.sum}" align="right"
                    style="padding-top: 3px; border-top: solid #677077 2px">Summe:</td>
                  <td
                    th:text="|${#numbers.formatDecimal(city.sum, 1, 'POINT', 2, 'COMMA')} ${currency}|"
                    style="font-family: monospace; padding-top: 3px; border-top: solid #677077 2px"
                    align="right">6,45 €</td>
                </tr>
                <tr>
                  <td colspan="4" th:text="#{total.sumCard}"
                    align="right" style="padding-top: 3px">Karte:</td>
                  <td
                    th:text="|${#numbers.formatDecimal(city.sumCard, 1, 'POINT', 2, 'COMMA')} ${currency}|"
                    style="font-family: monospace; padding-top: 3px"
                    align="right">6,45 €</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 10px 10px 25px 10px;">
              <table border="0" cellpadding="0" cellspacing="0"
                width="100%"
                style="font-family: sans-serif; font-size: 10pt">
                <tr>
                  <td colspan="3" th:text="#{header.budgets}"
                    style="padding: 0 0 5px 0; font: small-caps bold 14pt sans-serif; color: #7D4427">Budgets</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr style="font-size: 11pt; color: #486B00">
                        <th width="200px" align="left"
                          th:text="#{header.name}"
                          style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                          Budget</th>
                        <th width="370px" align="left"
                          th:text="#{header.description}"
                          style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                          Beschreibung</th>
                        <th width="80px" align="right"
                          th:text="#{header.amount}"
                          style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                          Summe</th>
                        <th width="100px" align="right"
                          th:text="#{header.remaining}"
                          style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                          Verfügbar</th>
                      </tr>
                      <tr th:each="budget : ${budgets}"
                        style="font-family: sans-serif; font-size: 10pt">
                        <td align="left" style="padding: 2px 0 2px 0"
                          th:text="${budget.name}">Bäcker</td>
                        <td th:text="${budget.description}">Heute
                          habe ich mal so richtig viel eingekauft, damit
                          die Zelle auch mal so richtig voll wird und
                          über zwei Zeilen geht!</td>
                        <td style="font-family: monospace" align="right"
                          th:text="|${#numbers.formatDecimal(budget.sum, 1, 'POINT', 2, 'COMMA')} ${currency}|">9999,99
                          €</td>
                        <td align="right"><span
                          th:if="${budget.negative}"
                          style="font-family: monospace; color: red"
                          th:text="|${#numbers.formatDecimal(budget.remaining, 1, 'POINT', 2, 'COMMA')} ${currency}|">9999,99
                            €</span><span th:unless="${budget.negative}"
                          style="font-family: monospace;"
                          th:text="|${#numbers.formatDecimal(budget.remaining, 1, 'POINT', 2, 'COMMA')} ${currency}|">9999,99
                            €</span></td>
                      </tr>
                      <tr>
                        <td colspan="4" align="right"
                          style="padding-top: 3px; border-top: solid #677077 2px">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 10px 10px 25px 10px;">
              <table border="0" cellpadding="0" cellspacing="0"
                width="100%"
                style="font-family: sans-serif; font-size: 10pt">
                <tr>
                  <td colspan="3" th:text="#{header.sumShops}"
                    style="padding: 0 0 5px 0; font: small-caps bold 14pt sans-serif; color: #7D4427">
                    Geschäfte</td>
                </tr>
                <tr style="font-size: 11pt; color: #486B00">
                  <th width="200px" align="left"
                    th:text="#{header.shop}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Geschäft</th>
                  <th width="80px" align="right"
                    th:text="#{header.amount}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Betrag</th>
                  <th>&nbsp;</th>
                </tr>
                <tr th:each="shopSum : ${sumShops}">
                  <td th:text="|${shopSum.shop} (${shopSum.count})|"
                    style="padding: 2px 0 2px 0">Schloss Neuschwanstein (1)</td>
                  <td style="font-family: monospace" align="right"
                    th:text="|${#numbers.formatDecimal(shopSum.sum, 1, 'POINT', 2, 'COMMA')} ${currency}|">9999,99
                    €</td>
                </tr>
                <tr>
                  <td colspan="2"
                    style="padding-top: 3px; border-top: solid #677077 2px">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td
              th:text="|#{total.overall} ${#numbers.formatDecimal(sum, 1, 'POINT', 2, 'COMMA')} ${currency}|"
              style="font-family: monospace; font-size: 12pt; padding: 3px 10px 10px 10px; border-top: solid #677077 2px"
              align="right">Gesamt: 6,45 €</td>
          </tr>
          <tr>
            <td bgcolor="#A2C523"
              style="padding: 10px 10px 10px 10px; font-family: sans-serif; font-size: 12pt; color: #1d2120;">
              (c) by probstl.de</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
