<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" th:href="@{/favicon.ico}">
<link rel="icon" type="image/png" th:href="@{/favicon.png}"
  sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180"
  th:href="@{/apple-touch-icon.png}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Landing page</title>
</head>
<body style="margin: 0; padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding: 15px 0 15px 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
          width="750" style="border: 1px solid #252839">
          <tr>
            <td align="center" bgcolor="#2E4600">
              <p th:text="#{headerHome}"
                style="display: block; color: #FFFFFF; font: small-caps bold 32pt sans-serif;">headerTextHome</p>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 10px 10px 25px 10px;">
              <table border="0" cellpadding="0" cellspacing="0"
                width="100%"
                style="font-family: sans-serif; font-size: 10pt">
                <tr>
                  <td colspan="3" th:text="#{summaryHome}"
                    style="padding: 0 0 5px 0; font: small-caps bold 14pt sans-serif; color: #7D4427">Ausgabenstand</td>
                </tr>
                <tr style="font-size: 11pt; color: #486B00">
                  <th width="28%" align="left"
                    th:text="#{homeHeader.lastMonth}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Letzter Monat</th>
                  <th width="28%" align="left"
                    th:text="#{homeHeader.currentMonth}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Aktueller Monat</th>
                  <th width="54%" align="left"
                    th:text="#{homeHeader.currentWeek}"
                    style="border-bottom: solid #677077 2px; padding-bottom: 3px;">
                    Aktuelle Woche</th>
                </tr>
                <tr>
                  <td
                    th:text="${#numbers.formatDecimal(amountLastMonth, 1, 'POINT', 2, 'COMMA')}"
                    style="font-family: monospace; font-size: 24pt;"
                    align="left">9.999,99</td>
                  <td
                    th:text="${#numbers.formatDecimal(amountCurrentMonth, 1, 'POINT', 2, 'COMMA')}"
                    style="font-family: monospace; font-size: 24pt;"
                    align="left">9.999,99</td>
                  <td
                    th:text="${#numbers.formatDecimal(amountCurrentWeek, 1, 'POINT', 2, 'COMMA')}"
                    style="font-family: monospace; font-size: 24pt;"
                    align="left">9.999,99</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td
                    th:text="|${#numbers.formatDecimal(percentOfLastMonth, 1, 'POINT', 1, 'COMMA')} %|"
                    style="font-family: monospace; font-size: 9pt;"
                    align="left">12,1%</td>
                  <td>
                    <table border="0">
                      <tr>
                        <td th:each="week,weekStat : ${weeksList}" width="45px">
                          <span th:if="${weekStat.last}"
                          th:text="|${#numbers.formatDecimal(week, 1, 'POINT', 1, 'COMMA')} %|"
                          style="font-family: monospace; font-size: 9pt;">10,0%</span>
                          <span th:unless="${weekStat.last}"
                          th:text="|${#numbers.formatDecimal(week, 1, 'POINT', 1, 'COMMA')} %|"
                          style="font-family: monospace; font-size: 7pt;">10,0%</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" th:text="#{navigationHome}"
                    style="padding: 20px 0 5px 0; font: small-caps bold 14pt sans-serif; color: #7D4427">Navigation</td>
                </tr>
                <tr style="font-size: 11pt; color: #486B00">
                  <td colspan="3">
                    <form action="#" th:action="@{/overview}"
                      th:object="${homeForm}" method="POST">
                      <button type="submit" name="gotoWeek"
                        th:text="#{home.gotoWeek}">gotoWeek</button>
                      <select th:field="*{selectedMonth}">
                        <option th:each="month : ${monthSelection}"
                          th:value="${month}" th:text="${month}">Monatauswahl</option>
                      </select>
                      <button type="submit" name="gotoMonth"
                        th:text="#{home.gotoMonth}">gotoMonth</button>
                      <button type="submit" name="downloadMonth"
                        th:text="#{home.downloadMonth}">downloadMonth</button>
                    </form>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>